a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
	font-weight: bold;
}


h1 {
	background-color: CornflowerBlue;
	margin-top: 10px;
	margin-bottom: 10px;
}

img {
	box-sizing: border-box; 
	margin-left: 0px; 
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px; 
	border-width: 0px;
	display: inline-block;
	padding: 0px;
}

.img-link {
	text-decoration: none;
	box-sizing: border-box; 
	margin-left: 10px; 
	margin-bottom: 10px;
	margin-right: 0px;
	margin-top: 0px; 
	border-width: 0px;
	display: inline-block;
	padding: 0px;
}

body { 
	background-color: #f9f9eb;
	text-align:center;
}


.folder {
	text-decoration:none; 
	font-size:12pt; 
	padding: 6px; 
	margin: 6px; 
	border-style: solid; 
	border-width:2px; 
	border-color: lightgray;
	background-color: #ffaa24;  
	display: inline-block; 
	box-sizing: border-box;
	min-width: 180px
}

.folder-0, .folder-0:visited {
	background-color: lightgray;  
	border-color: lightgray;
	border-style: dashed;
	color: gray;
}

.folder-1 {
	background-color: bisque;  
}

.folder-2 {
	background-color: #ffdeb3;
}

.folder-3 {
	background-color: #ffcc80;
}

.folder-4 {
	background-color: #ffbe5a;
}

.folder-5 {
	background-color: #ffaa24;
}

