a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
	font-weight: bold;
}


h1 {
	background-color: CornflowerBlue;
	margin-top: 10px;
	margin-bottom: 10px;
}

img {
	box-sizing: border-box; 
	margin-left: 0px; 
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px; 
	border-width: 0px;
	display: inline-block;
	padding: 0px;
}

.img-link {
	text-decoration: none;
	box-sizing: border-box; 
	margin-left: 10px; 
	margin-bottom: 10px;
	margin-right: 0px;
	margin-top: 0px; 
	border-width: 0px;
	display: inline-block;
	padding: 0px;
}

body { 
	background-color: #f9f9eb;
	text-align:center;
}


.folder {

	min-width: 200px;
	text-decoration:none; 
	font-size:16pt; 
	padding: 10px; 
	margin: 10px; 
	border-style: solid; 
	border-width:2px; 
	border-color: black;
	background-color: bisque;  
	display: inline-block; 
	box-sizing: border-box;
}

