a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
	font-weight: bold;
}


h1 {
	background-color: #34626c;
}

img {
	box-sizing: border-box; 
	margin-left: 10px; 
	margin-bottom: 10px;
	margin-right: 0px;
	margin-top: 0px; 
	display: inline-block;
}
body { 
	background-color: gray;
	text-align:center;
}

.nav {
	margin: 20px;
}

.folder {
	text-decoration:none; 
	font-size:20pt; 
	padding: 10px; 
	margin: 10px; 
	border-style: solid; 
	border-width:2px; 
	border-color: black;
	background-color: #c6b497;  
	display: inline-block; 
	box-sizing: border-box;
}

